<component name="libraryTable">
  <library name="Spring MVC-5.2.3.RELEASE (2)" type="spring-mvc">
    <properties version="5.2.3.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/2.2.1. spring_hibernate/lib/spring-webmvc-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/2.2.1. spring_hibernate/lib/spring-web-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>